@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Gantari:wght@500&family=Montserrat:ital,wght@1,400;1,500&family=Noto+Sans+Avestan&family=Noto+Sans+JP&display=swap');

.tophero {
    background-color: antiquewhite;
    height: 50vh;
    width: 75vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: blue;
    
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 1rem;
    margin-top: 10vh;
    margin-left: 25vh;
    z-index: 1;
    border-radius: 1vh;
    
    border-radius: 1vh;
    
}

.secondhero{
 background-color: aqua;   
 height: 50vh;
 width: 75vh;
 display: grid;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: blue;

 font-size: 1.5rem;
 font-weight: 300;
 letter-spacing: 1px;
 text-transform: uppercase;
 padding: 0 1rem;
 margin-top: -47vh;
 margin-left: 27vh;
 z-index: 1;
 border-radius: 1vh;
 z-index: -1;
 z-index: 1;
 border-radius: 1vh;
}

.thirdhero{
 background-color: aquamarine;   
 height: 50vh;
 width: 75vh;
 display: grid;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: blue;

 font-size: 1.5rem;
 font-weight: 300;
 letter-spacing: 1px;
 text-transform: uppercase;
 padding: 0 1rem;
 margin-top: -47vh;
 margin-left: 21vh;
 z-index: 1;
  border-radius: 1vh;
 z-index: -2;
 z-index: 1;
  border-radius: 1vh;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  

  
  .card{
    width: 32em;
    margin-top: 62vh;
    margin-right: -10vh;
  }

  .graph{
    width: 50vh;
    height: 70vh;
    margin-left: 150vh;
    margin-top: -58vh;
  }
 



  .headerText{
    margin-top: 26.5vh;
    margin-right: 95vh;
    font-family:'Montserrat', sans-serif;;
  }

@media (min-width: 768px) {
  .containerBoxs{
    display: none;
  }
  
}
.coverLetter {
  font-size: 1.1rem;
  margin-top: 2.5vh;
  font-family: 'Comfortaa', cursive;
  text-transform:capitalize;
  padding-right: 10vh;
  line-height: 3.5vh;
  text-align: center;
  color: black;
}

button{
  margin-top: 49vh;
  margin-left: -7vh;
}

.title {
  margin-left: -45vh;
  font-weight: 500;
  font-size: 2.5rem; 
  font-family: 'Noto Sans Avestan', sans-serif;
}

.title0 {
  margin-left: -30vh;
  font-weight: 500;
  font-size: 2.5rem;
  font-family: 'Noto Sans Avestan', sans-serif; 
}

.title1{
  margin-right: 101vh;
  font-weight: 500;
  font-size: 2.5rem;
  font-family: 'Noto Sans Avestan', sans-serif;
}


.role{
  margin-right: 86vh;
 font-weight: 500;
 font-size: 1.5rem; 
 font-family: 'Noto Sans Avestan', sans-serif;
}

.role1{
  font-family: 'Noto Sans Avestan', sans-serif;
  margin-right: 43.5vh;
  font-size: 1.5;
  font-weight: 500;
}

.role0 {
  margin-right: 86vh;
  font-size: 1.5;
  font-weight: 500;
  font-family: 'Noto Sans Avestan', sans-serif;
}

.respon{
  font-weight: 600;
  font-size: 1.1rem; 
  margin-right: 84.5vh;
  text-align: start;
  text-decoration: underline;
  font-family: 'Noto Sans Avestan', sans-serif;
}
.respon0{
  font-weight: 600;
  font-size: 1.1rem; 
  margin-right: 84.5vh;
  text-decoration: underline;
  font-family: 'Noto Sans Avestan', sans-serif;
}

.respon1{
  font-weight: 600;
  font-size: 1.1rem; 
  margin-right: 84.5vh;
  text-decoration: underline;
  font-family: 'Noto Sans Avestan', sans-serif;
}

li{
  list-style: none;
  font-size: 1rem;
  text-align: start;
  margin-left:1vh;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 1vh;
  font-family: 'Noto Sans Avestan', sans-serif;
}

.edu{
  margin-left:  122vh;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  font-size: 0.9rem; 
  
}

.proj{
  margin-left:  122vh;
  margin-top: -57.5vh;
  font-weight: 600;
  font-family: 'Comfortaa', cursive;
  font-size: 0.9rem;
}

.hobbies{
  margin-left:  122vh;
  font-weight: 600;
  font-family: 'Comfortaa', cursive;
  font-size: 0.9rem; 
}



.t{
  text-decoration: underline;
  color: mediumblue ;
  font-family: 'Noto Sans Avestan', sans-serif;
}

#fdRes{
  margin-left:  -10vh;
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-weight: 600;
  font-size: 1.1rem; 
  border-radius: 2vh;
  background-color: light;
  padding: 1vh;
  font-family: 'Comfortaa', cursive;
}

#fdRes:hover{
  color: mediumblue;
  background-color: aqua;
  transition: all 0.9s ease;
}

