

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Gantari:wght@500&family=Noto+Sans+Avestan&display=swap');

@media (max-width: 768px) {

    #navbar{
      margin-left: 10vh;
      
    }

.webSidebar{
    display: none;
    
}

.mobSidebar{
    margin-left: 0vh;
    margin-top:3.5vh;
    font-family: 'Comfortaa', cursive;
}
    .navbar-expand-md .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
  
    .navbar-expand-md .navbar-nav {
      justify-content: flex-end;
    }
  
    .navbar-expand-md .navbar-toggler {
      display: none;
    }

.mobHeaderText{
    display: none;

}
#fdRes{
  font-family: 'Comfortaa', cursive;
    margin-top: 13.5vh;    
    margin-right: -10vh;
}

.title{
  margin-left: -2.5vh;
  font-size: 5vh;
  font-weight: 500;
}
.role{
  margin-right: 31vh;
  font-size: 1.5rem;
  font-weight: 500;
}
.respon{
  margin-right: 30vh;
  font-size: 1.1rem;
  font-weight: 600;
}
.title0{
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: -3.5vh;
  margin-right: 29.5vh;
}
.role0{
  margin-right: 31vh;
  font-size: 1.5rem;
  font-weight: 500;

}
.respon0{
  margin-right: 30vh;
  font-weight: 600;
}
.title1{
  margin-right: 46vh;
  font-size: 2.5rem;
  font-weight: 500;
  
}
.role1{
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -7.7vh;
  margin-right: 38.5vh;
}
.respon1{
  margin-right: 29.5vh;
  font-weight: 700;
  font-size: 1.1rem;
}

.containerBox{
margin-left: -25.9vh;
}

.title,
.title0,
.title1,
.respon,
.respon0,
.respon1,
.role,
.role0,
.role1{
  font-family: 'Noto Sans Avestan', sans-serif;
}


.mobCard{
  width: 17em;
  margin-left: -10vh; 
  font-family: 'Comfortaa', cursive;

}
#Mobreadmore{
margin-left: 5vh;
margin-top: 19.5em;
margin: 20 auto;
font-family: 'Comfortaa', cursive;
}
.coverLetter {
  font-size: .9rem;
  margin-top: 2.5vh;
  font-family: 'Comfortaa', cursive;
  text-transform:capitalize;
  padding-right: 1vh;
  line-height: 3.5vh;
}
    .tophero {
      background-color: rgba(311,245,5, .4);
      height: 50vh;
      width: 62vh;
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;;
      font-family: 'Times New Roman', Times, serif !important;
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 0 1rem;
      margin-top: 10vh;
      margin-left: 25vh;
      z-index: 1;
      border-radius: 1vh;
      
  }
  .secondhero{
   background-color: aqua;   
   height: 50vh;
   width: 62.5vh;
   display: grid;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: black;
   font-family: 'Noto Sans Avestan', sans-serif !important;
   font-size: 2.5rem !important;
   font-weight: 500;
   letter-spacing: 1px;
   text-transform: uppercase;
   padding: 0 1rem;
   margin-top: -47vh;
   margin-left: 27vh;
   z-index: 1;
   border-radius: 1vh;
  }
  .thirdhero{
   background-color: rgba(222,415,655, .9);   
   height: 52vh;
   width: 57vh;
   display: grid;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: black;
   font-family: 'Roboto', sans-serif;
   font-size: 1.5rem;
   font-weight: 300;
   letter-spacing: 1px;
   text-transform: uppercase;
   padding: 0 1rem;
   margin-top: -47vh;
   margin-left: 29vh;
   z-index: 1;
    border-radius: 1vh;
  }  
  .containerBoxs{
  display: none;
  }

html{
  scroll-behavior: smooth;

}

  }